[workspace]
members = [
	"cli",
	"sdk",
	"sdk-httpmock",
	"xtask",
]

[workspace.dependencies]
anyhow = "1.0.70"
assert_cmd = "2.0.11"
base64 = "0.21.0"
built = { version = "0.6.0", features = ["git2"] }
chrono = { version = "0.4.24", features = ["serde"] }
clap = { version = "4.2", features = ["derive", "string", "env"] }
dialoguer = "0.10.4"
dirs = "4.0.0"
env_logger = "0.10.0"
expectorate = "1.0.7"
futures = "0.3.28"
http = "0.2.9"
httpmock = "0.6.7"
newline-converter = "0.2.2"
oauth2 = "4.3.0"
open = "4.0.2"
oxide-api = { path = "sdk" }
predicates = "3.0.3"
pretty_assertions = "1.3.0"
progenitor = { git = "https://github.com/oxidecomputer/progenitor" }
progenitor-client = { git = "https://github.com/oxidecomputer/progenitor" }
rand = "0.8.5"
regex = "1.7.3"
regress = "0.5.0"
reqwest = "0.11.16"
rustfmt-wrapper = "0.2.0"
schemars = { version = "0.8.12", features = ["chrono", "uuid1"] }
serde = { version = "1.0.160", features = ["derive"] }
serde_json = "1.0.96"
serial_test = "1.0.0"
similar = "2.2.1"
sha2 = "0.10.6"
tabwriter = "1.2.1"
tokio = { version = "1.27.0", features = ["full"] }
toml = "0.7.2"
toml_edit = "0.19.8"
url = "2.3.1"
uuid = { version = "1.3.1", features = ["serde", "v4"] }

[patch."https://github.com/oxidecomputer/progenitor"]
progenitor = { path = "../progenitor/progenitor" }
#[patch."https://github.com/oxidecomputer/typify"]
#typify = { path = "../typify/typify" }
