[workspace]
members = [
	"cli",
	"sdk",
	"sdk-httpmock",
	"test-common",
	"xtask",
]
resolver = "2"

[workspace.dependencies]
anyhow = "1.0.81"
assert_cmd = "2.0.14"
async-trait = "0.1.77"
base64 = "0.21.7"
built = { version = "0.7.1", features = ["git2"] }
chrono = { version = "0.4.35", features = ["serde"] }
clap = { version = "4.5.3", features = ["derive", "string", "env"] }
clap_complete = "4.5.1"
dialoguer = "0.10.4"
dirs = "4.0.0"
dropshot = { git = "https://github.com/oxidecomputer/dropshot" }
env_logger = "0.10.2"
expectorate = { version = "1.1.0", features = ["predicates"] }
futures = "0.3.30"
httpmock = "0.6.8"
indicatif = "0.17"
log = "0.4.21"
newline-converter = "0.3.0"
oauth2 = "4.4.2"
open = "4.2.0"
oxide = { path = "sdk", version = "0.3.0" }
oxide-httpmock = { path = "sdk-httpmock", version = "0.3.0" }
predicates = "3.1.0"
pretty_assertions = "1.4.0"
progenitor = { git = "https://github.com/oxidecomputer/progenitor" }
progenitor-client = "0.5.0"
rand = "0.8.5"
rcgen = "0.10.0"
regex = "1.10.3"
regress = "0.9.0"
reqwest = "0.11.24"
rustfmt-wrapper = "0.2.1"
schemars = { version = "0.8.16", features = ["chrono", "uuid1"] }
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.114"
similar = "2.4.0"
tabwriter = "1.4.0"
thiserror = { version = "1", default-features = false }
tempfile = "3.10.1"
test-common = { path = "test-common" }
thouart = { git = "https://github.com/oxidecomputer/thouart.git" }
tokio = { version = "1.36.0", features = ["full"] }
toml = "0.8.12"
toml_edit = "0.22.6"
url = "2.5.0"
uuid = { version = "1.7.0", features = ["serde", "v4"] }

# Config for 'cargo dist'
[workspace.metadata.dist]
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.6.2"
# CI backends to support
ci = ["github"]
# The installers to generate for each app
installers = []
# Target platforms to build apps for (Rust target-triple syntax)
targets = [
	"x86_64-unknown-linux-gnu",
	"aarch64-apple-darwin",
	"x86_64-apple-darwin",
	"x86_64-unknown-linux-musl",
	"x86_64-pc-windows-msvc",
]
# Publish jobs to run in CI
pr-run-mode = "plan"

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"

#[patch."https://github.com/oxidecomputer/progenitor"]
#progenitor = { path = "../progenitor/progenitor" }
#[patch."https://github.com/oxidecomputer/typify"]
#typify = { path = "../typify/typify" }
