[workspace]
members = [
	"cli",
	"sdk",
	"sdk-httpmock",
	"test-common",
	"xtask",
]
resolver = "2"

[workspace.dependencies]
anyhow = "1.0.78"
assert_cmd = "2.0.12"
async-trait = "0.1.77"
base64 = "0.21.5"
built = { version = "0.6.1", features = ["git2"] }
chrono = { version = "0.4.31", features = ["serde"] }
clap = { version = "4.4", features = ["derive", "string", "env"] }
dialoguer = "0.10.4"
dirs = "4.0.0"
dropshot = { git = "https://github.com/oxidecomputer/dropshot" }
env_logger = "0.10.1"
expectorate = { version = "1.1.0", features = ["predicates"] }
futures = "0.3.30"
http = "0.2.11"
httpmock = "0.6.8"
indicatif = "0.17"
json-patch = "1.2.0"
log = "0.4.20"
newline-converter = "0.3.0"
oauth2 = "4.4.2"
open = "4.2.0"
oxide = { path = "sdk", version = "0.2.0" }
oxide-httpmock = { path = "sdk-httpmock", version = "0.2.0" }
predicates = "3.0.4"
pretty_assertions = "1.4.0"
progenitor = { git = "https://github.com/oxidecomputer/progenitor", branch = "extension2" }
progenitor-client = { git = "https://github.com/oxidecomputer/progenitor", branch = "extension2" }
rand = "0.8.5"
rcgen = "0.10.0"
regex = "1.10.2"
regress = "0.7.1"
reqwest = { version = "0.11.23", features = ["native-tls-vendored"] }
rustfmt-wrapper = "0.2.1"
schemars = { version = "0.8.16", features = ["chrono", "uuid1"] }
serde = { version = "1.0.193", features = ["derive"] }
serde_json = "1.0.109"
serial_test = "1.0.0"
similar = "2.4.0"
sha2 = "0.10.8"
tabwriter = "1.4.0"
tempfile = "3.9.0"
test-common = { path = "test-common" }
thouart = { git = "https://github.com/oxidecomputer/thouart.git" }
tokio = { version = "1.35.1", features = ["full"] }
tokio-tungstenite = "0.20.1"
toml = "0.8.2"
toml_edit = "0.21.0"
url = "2.5.0"
uuid = { version = "1.6.1", features = ["serde", "v4"] }

# Config for 'cargo dist'
[workspace.metadata.dist]
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.6.2"
# CI backends to support
ci = ["github"]
# The installers to generate for each app
installers = []
# Target platforms to build apps for (Rust target-triple syntax)
targets = [
	"x86_64-unknown-linux-gnu",
	"aarch64-apple-darwin",
	"x86_64-apple-darwin",
	"x86_64-unknown-linux-musl",
	"x86_64-pc-windows-msvc",
]
# Publish jobs to run in CI
pr-run-mode = "plan"

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"

#[patch."https://github.com/oxidecomputer/progenitor"]
#progenitor = { path = "../progenitor/progenitor" }
#[patch."https://github.com/oxidecomputer/typify"]
#typify = { path = "../typify/typify" }
