[workspace]
members = [
	"cli",
	"integration-tests",
	"sdk",
	"sdk-httpmock",
	"test-common",
	"xtask",
]
resolver = "2"

[workspace.dependencies]
anyhow = "1.0.96"
assert_cmd = "2.0.16"
async-trait = "0.1.86"
base64 = "0.22.1"
built = { version = "0.7.7", features = ["git2"] }
chrono = { version = "0.4.39", features = ["serde"] }
clap = { version = "4.5.31", features = ["derive", "string", "env", "wrap_help"] }
clap_complete = "4.5.46"
colored = "2.2.0"
crossterm = { version = "0.27.0", features = [ "event-stream" ] }
dialoguer = "0.10.4"
dirs = "4.0.0"
dropshot = "0.13.0"
env_logger = "0.10.2"
expectorate = { version = "1.1.0", features = ["predicates"] }
flume = "0.11.1"
futures = "0.3.31"
httpmock = "0.7.0"
humantime = "2"
indicatif = "0.17"
libc = "0.2.170"
log = "0.4.26"
md5 = "0.7.0"
newline-converter = "0.3.0"
oauth2 = "5.0.0"
open = "4.2.0"
oxide = { path = "sdk", version = "0.10.0" }
oxide-httpmock = { path = "sdk-httpmock", version = "0.10.0" }
oxnet = "0.1.0"
predicates = "3.1.3"
pretty_assertions = "1.4.1"
progenitor = { git = "https://github.com/oxidecomputer/progenitor", default-features = false }
progenitor-client = "0.9.1"
rand = "0.8.5"
ratatui = "0.26.3"
rcgen = "0.10.0"
regex = "1.11.1"
regress = "0.10.3"
reqwest = "0.12.12"
rustfmt-wrapper = "0.2.1"
schemars = { version = "0.8.20", features = ["chrono", "uuid1"] }
serde = { version = "1.0.218", features = ["derive"] }
serde_json = "1.0.140"
similar = "2.7.0"
tabwriter = "1.4.1"
thiserror = "2.0.11"
tempfile = "3.17.1"
test-common = { path = "test-common" }
thouart = { git = "https://github.com/oxidecomputer/thouart" }
tokio = { version = "1.43.0", features = ["full"] }
toml = "0.8.20"
toml_edit = "0.22.24"
url = "2.5.4"
uuid = { version = "1.14.0", features = ["serde", "v4"] }

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"

#[patch."https://github.com/oxidecomputer/progenitor"]
#progenitor = { path = "../progenitor/progenitor" }
#[patch."https://github.com/oxidecomputer/typify"]
#typify = { path = "../typify/typify" }
