[workspace]
members = ["cargo:."]

# Config for 'dist'
[dist]
# The preferred dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.28.0"
# CI backends to support
ci = "github"
# The installers to generate for each app
installers = []
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["aarch64-apple-darwin", "x86_64-apple-darwin", "x86_64-unknown-linux-gnu", "x86_64-unknown-linux-musl", "x86_64-pc-windows-msvc"]
# Which actions to run on pull requests
pr-run-mode = "plan"
# Install `perl-IPC-Cmd` on manylinux as required to build OpenSSL
github-build-setup = "../manylinux.yml"

[dist.github-custom-runners]
global = "ubuntu-22.04"

[dist.github-custom-runners.x86_64-unknown-linux-musl]
runner = "ubuntu-22.04"
container = { image = "quay.io/pypa/manylinux_2_28_x86_64", host = "x86_64-unknown-linux-musl", package-manager = "apt" }

[dist.github-custom-runners.x86_64-unknown-linux-gnu]
runner = "ubuntu-22.04"
