[package]
name = "oxide"
description = "CLI for the Oxide rack"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"
repository = "https://github.com/oxidecomputer/oxide-sdk-and-cli"
readme = "README.md"

default-run = "oxide"

[dependencies]
anyhow = { workspace = true }
chrono = { workspace = true }
clap = { workspace = true }
dialoguer = { workspace = true }
dirs = { workspace = true }
expectorate = { workspace = true }
futures = { workspace = true }
http = { workspace = true }
oauth2 = { workspace = true }
open = { workspace = true }
oxide-api = { workspace = true }
predicates = { workspace = true }
reqwest = { workspace = true }
schemars = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tabwriter = { workspace = true }
tokio = { workspace = true }
toml = { workspace = true }
toml_edit = { workspace = true }
url = { workspace = true }
uuid = { workspace = true }

[dev-dependencies]
assert_cmd = { workspace = true }
httpmock = { workspace = true }
predicates = { workspace = true }
pretty_assertions = { workspace = true }
serial_test = { workspace = true }

[build-dependencies]
built = { workspace = true }
