[package]
name = "test-common"
version = "0.1.0"
edition = "2021"

[dependencies]
chrono = { workspace = true }
rand = { workspace = true }
schemars = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
uuid = { workspace = true }