[package]
name = "oxide-api"
version = "0.1.0"
edition = "2021"

[dependencies]
base64 = { workspace = true }
chrono = { workspace = true }
clap = { workspace = true, optional = true }
futures = { workspace = true }
progenitor-client = { workspace = true }
rand = { workspace = true }
regress = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
schemars = { workspace = true }
uuid = { workspace = true }

[features]
# TODO disable clap by default:
default = ["clap"]
clap = ["dep:clap"]